@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-zinc-200 dark:border-zinc-800;
  }

  body {
    @apply min-h-dvh bg-zinc-50 text-zinc-900 antialiased dark:bg-black dark:text-white;
  }
}
